/**
 * author: Thierry Koblentz
 * Copyright 2011 - css-101.org 
 * http://www.css-101.org/articles/ken-burns_effect/css-transition.php
 */
#slideshow {
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  -webkit-box-shadow:1px 1px 5px #ddd;
  -moz-box-shadow:1px 1px 5px #ddd;
  -o-box-shadow:1px 1px 5px #ddd;
  box-shadow:1px 1px 5px #ddd;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
#slideshow img {
  max-width:none;
  position:absolute;
  width:auto;
  height:100%;
  top:0%;
  left:0%;
  margin-left:-180px;
  margin-top:0px;
  opacity:0;
  -webkit-transition-property: opacity, -webkit-transform;
  -webkit-transition-duration: 3s, 8s;
  -moz-transition-property: opacity, -moz-transform;
  -moz-transition-duration: 3s, 8s;
  -o-transition-property: opacity, -o-transform;
  -o-transition-duration: 3s, 8s;
  transition-property: opacity, transform;
  transition-duration: 3s, 8s;
}
#slideshow img  {
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
  -o-transform-origin: bottom left;
  transform-origin: bottom left;
}
#slideshow :nth-child(2n+1) {
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
}
#slideshow :nth-child(3n+1) {
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}
#slideshow :nth-child(4n+1) {
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
  -o-transform-origin: bottom right;
  transform-origin: bottom right;
}
#slideshow .fx:first-child + img ~ img {
	z-index:-1;
}
#slideshow .fx {
  -webkit-transform: scale(1.5) translate(30px);
  -moz-transform: scale(1.5) translate(30px);
  -o-transform: scale(1.5) translate(30px);
  transform: scale(1.5) translate(30px);
  opacity:1;
}
